* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --accent-color: rgb(163, 42, 226);
  --other-accent-color: #b27bf0;
  --dark-accent-color: #2b0755e6;
  --very-dark-accent-color: #0c011d;
}
body {
  font-family: Roboto;
  font-weight: 500;
  background: rgb(26, 26, 26);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
/*  nav container */
.top-container {
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  position: fixed;
}
.top-container img {
  width: 30%;
  min-width: 20rem;
  z-index: 3;
  position: relative;
}
.gradient {
  height: 18rem;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 0.8) 56%, rgba(0, 0, 0, 0) 82%);
  position: fixed;
  z-index: 1;
}
/* cover trailer */
.cover-trailer-container {
  position: relative;
  top: 10rem;
  margin: 0 auto 10rem auto;
  height: 35vw;
  width: 90vw;
  display: flex;
}
.title-description-container {
  width: 30%;
  top: 4vw;
  position: relative;
}
.cover-trailer-container .movie-title {
  font-size: 2vw;
  font-weight: 200;
  color: var(--other-accent-color);
  margin-bottom: 1rem;
}
.movie-description {
  font-style: oblique;
  font-size: 1.2vw;
  color: rgb(228, 228, 228);
  padding: 2vw;
}
.remove-overflow-div {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.trailer {
  width: 110%;
  height: 150%;
  position: absolute;
  right: -2rem;
  top: -8rem;
}
.trailer.trailer-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  box-shadow: inset 0px 0px 39px 35px rgba(26, 26, 26, 0.75), inset 0px 0px 55px 29px rgba(26, 26, 26, 1),
    inset 0px 0px 13px 20px rgba(26, 26, 26, 1);
  pointer-events: none;
}
.watch-btn {
  background: var(--accent-color);
  color: white;
  padding: 1rem 3rem;
  position: absolute;
  bottom: 5rem;
  right: 3rem;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8);
  margin: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  z-index: 12;
}
.watch-btn:hover,
.watch-btn:focus {
  background-color: var(--other-accent-color);
}

/* nav */
.fa-bars {
  font-size: 1.3rem;
  color: rgb(233, 233, 233);
  margin-top: 1rem;
  margin-right: 1rem;
  pointer-events: all;
}
.fa-bars:hover {
  color: var(--accent-color);
}
/* nav part */
.nav-container {
  display: none;
  position: fixed;
}
.nav.show {
  height: 100vh;
  width: 30rem;
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
  background: rgba(39, 12, 53, 0.8);
  right: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 999;
  animation: showNav 0.5s ease-in-out;
  transition: all 1s ease-in-out;
}
@keyframes showNav {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.nav-btns {
  color: white;
  list-style: none;
  font-size: 1.3rem;
  margin: auto;
}
.nav-btns li {
  margin-top: 2rem;
  transform: translateX(200%);
}
.nav-btns li.show {
  display: block;
  animation: showNav 0.6s ease-in-out forwards;
}
.nav-btns li:hover,
.nav-btns a:hover {
  color: var(--other-accent-color);
  cursor: pointer;
}

.nav-btns i {
  padding: 1rem;
  font-size: 1.5rem;
}

/* searchBar */

.searchbox {
  position: relative;
  display: flex;

  width: 100%;
  max-width: 120px;
}
.searchbox-input {
  display: block;
  appearance: none;
  font-size: 1.3rem;
  font-family: Roboto;
  font-weight: 500;
  color: white;

  background: transparent;
  outline: none;
  border: none;

  cursor: pointer;
}
.searchbox-input::placeholder {
  font-size: 1.3rem;
  font-family: Roboto;
  font-weight: 500;
  color: white;
}

.searchbox-input:hover::placeholder {
  color: var(--other-accent-color);
}
.searchbox-input:focus-within {
  border-bottom: 1px solid white;

  width: 40rem;
  transition: width 0.5s ease-in-out;
}
/* genres -nav */
.genres-container {
  transform: translateX(100%);
  position: fixed;
  right: 0;
}
.genres-container.show {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 35% 100%);
  overflow-y: scroll;
  overflow-x: hidden;
  animation: showNav 1s ease-in-out;
  background: var(--dark-accent-color);
  transform: translateX(0%);
}
.genres-container .fas {
  padding: 1rem;
  font-size: 2rem;
}
.genres-btns {
  font-size: 1.3rem;
  position: relative;
  color: white;

  margin: auto;
  list-style: none;
}

.genres-btns li {
  transform: translateX(200%);
}
.genres-btns li:hover {
  color: var(--other-accent-color);
}
.genres-btns li.show {
  padding-top: 2rem;

  cursor: pointer;
  animation: showNav 0.6s ease-in-out forwards;
}
/* top viewed this week */
.category-title {
  color: white;
  font-size: 1.7rem;
  position: relative;
  padding-left: 2rem;
  padding-bottom: 3rem;
}
/* loading animation */

.animation-wrapper {
  display: none;

  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 10rem;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  z-index: 1111;
  /* background: lime; */
}

.animation-piece-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-animation: rot 16s linear infinite;
  animation: rot 16s linear infinite;
}
@-webkit-keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}

.animation-piece {
  width: 15px;
  height: 15px;
  background: var(--accent-color);
  border-radius: 10px;

  -webkit-animation: scale 0.8s linear alternate infinite;
  animation: scale 0.8s linear alternate infinite;
}
@-webkit-keyframes scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
@keyframes scale {
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}
.animation-piece:nth-child(1) {
  z-index: 24;
}
.animation-piece:nth-child(2) {
  z-index: 23;
}
.animation-piece:nth-child(3) {
  z-index: 22;
}
.animation-piece:nth-child(4) {
  z-index: 21;
}
.animation-piece:nth-child(5) {
  z-index: 20;
}
.animation-piece:nth-child(6) {
  z-index: 19;
}
.animation-piece:nth-child(7) {
  z-index: 18;
}
.animation-piece:nth-child(8) {
  z-index: 17;
}
.animation-piece:nth-child(9) {
  z-index: 16;
}
.animation-piece:nth-child(10) {
  z-index: 15;
}
.animation-piece:nth-child(11) {
  z-index: 14;
}
.animation-piece:nth-child(12) {
  z-index: 13;
}
.animation-piece:nth-child(13) {
  z-index: 12;
}
.animation-piece:nth-child(14) {
  z-index: 11;
}
.animation-piece:nth-child(15) {
  z-index: 10;
}
.animation-piece:nth-child(16) {
  z-index: 9;
}
.animation-piece:nth-child(17) {
  z-index: 8;
}
.animation-piece:nth-child(18) {
  z-index: 7;
}
.animation-piece:nth-child(19) {
  z-index: 6;
}
.animation-piece:nth-child(20) {
  z-index: 5;
}
.animation-piece:nth-child(21) {
  z-index: 4;
}
.animation-piece:nth-child(22) {
  z-index: 3;
}
.animation-piece:nth-child(23) {
  z-index: 2;
}
.animation-piece:nth-child(24) {
  z-index: 1;
}
.animation-piece:nth-child(25) {
  z-index: 0;
}
.animation-piece:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.animation-piece:nth-child(7) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animation-piece:nth-child(13) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-piece:nth-child(19) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.animation-piece:nth-child(24) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animation-piece:nth-child(8) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animation-piece:nth-child(14) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animation-piece:nth-child(20) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animation-piece:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animation-piece:nth-child(9) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-piece:nth-child(15) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.animation-piece:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animation-piece:nth-child(10) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animation-piece:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-piece:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.animation-piece:nth-child(6) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animation-piece:nth-child(11) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animation-piece:nth-child(16) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animation-piece:nth-child(21) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-piece:nth-child(7) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animation-piece:nth-child(12) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animation-piece:nth-child(17) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-piece:nth-child(22) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animation-piece:nth-child(13) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-piece:nth-child(18) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animation-piece:nth-child(23) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.animation-piece:nth-child(19) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.animation-piece:nth-child(24) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animation-piece:nth-child(25) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
/*movie grid */
.movie-grid {
  display: grid;
  gap: 1.5em;
  padding: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}
.movie-element {
  /* height: 25rem; */
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  animation: popMovieEl 1s ease-in-out forwards;
  position: relative;
}
@keyframes popMovieEl {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.movie-element-image {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.movie-element h5 {
  color: white;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.8) 50%);

  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 3rem;

  bottom: 0;
  width: 100%;
  font-size: 1rem;
  z-index: 1;
}
/* movie detail container  */
.movie-player-container {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  display: none;
}
.movie-player-container.show {
  display: flex;
}

.movie-details {
  background: rgba(29, 3, 58, 0.7);
  clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
  height: 100%;
  width: 30rem;
  top: 0;
  transform: translateX(-100%);
  position: absolute;
  animation: show-details 1s ease forwards;
  animation-delay: 0.5s;
}
@keyframes show-details {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.video-player {
  animation: show-player 2s ease forwards;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
@keyframes show-player {
  0% {
    transform: translateX(100%);
    background-color: rgba(26, 26, 26, 0);
  }
  50% {
    background-color: rgba(26, 26, 26, 0.1);
    transform: translateX(0);
  }
  100% {
    background-color: rgba(26, 26, 26, 0.9);
  }
}

.video-player > .movie-title {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-left: 14rem;
  /* white-space: nowrap; */
  overflow: visible;
}
.movie-details ul {
  color: white;
  font-size: 1.3rem;
  top: 8rem;
  margin: 3rem auto auto 3rem;
  list-style: none;
  position: relative;
}
.movie-details li {
  padding-top: 3rem;
}
.movie-details .fas,
.fab {
  color: var(--other-accent-color);
  font-size: 2rem;
  padding-right: 2rem;
}
.fa-quote-left {
  position: absolute;
  font-size: 5rem;
  color: var(--accent-color);
  z-index: -1;
  opacity: 0.3;
  left: -2rem;
  top: 0rem;
}
.video-player > .movie-description {
  color: white;
  font-size: 1rem;
  font-style: italic;
  margin-right: 5rem;
  margin-top: 5rem;
  position: relative;
  width: 60%;
  float: right;
  z-index: -1;
}
.video-player > .movie-description.hide,
.trailer-btn.hide,
.play-btn.hide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fa-times {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: var(--accent-color);
  font-size: 2rem;
}
.fa-times:hover,
.fa-times:focus {
  color: var(--other-accent-color);
}
.trailer-btn {
  right: 16rem;
}

#movie-player {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
}

.player-container {
  /* display: none; */
  position: relative;
  transform: rotate(90deg);

  right: -200%;
}
.player-container.show {
  /* ? de ce trebuie right -100? */
  right: -100%;
  transform: rotate(0deg);
  transition: all 1s ease;
}
@keyframes showPlayer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
